<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head :: head('NexusChunk Server | Správa Členov', false)}"></div>

    <link rel="stylesheet" th:href="@{/css/admin.style.css}">
</head>
<body>


<div class="admin-wrapper">

    <div th:replace="~{admin/fragments/admin_navbar :: admin_navbar('members')}"></div>

    <div class="admin-main-content">
        <h1 class="section-title">Správa Členov</h1>

        <div class="admin-card" style="margin-bottom: 25px;">
            <h4><i class="fa-solid fa-magnifying-glass"></i> Vyhľadávanie Členov</h4>
            <form class="d-flex" style="display: flex;">
                <input type="search" placeholder="Zadajte Nick alebo UUID" class="form-control" style="flex-grow: 1; padding: 8px; border-radius: 4px 0 0 4px; border: 1px solid var(--border-color); background-color: var(--bg-secondary); color: var(--text-light); margin-right: -1px;">
                <button class="btn-admin" type="submit" style="border-radius: 0 4px 4px 0;"><i class="fa-solid fa-search"></i> Hľadať</button>
            </form>
        </div>

        <div class="admin-card">
            <h4><i class="fa-solid fa-users"></i> Prehľad Uživateľov</h4>
            <table class="admin-table">
                <thead>
                <tr>
                    <th>Nick</th>
                    <th>E-Mail</th>
                    <th>Registrácia</th>
                    <th>Minecraft Nickname</th>
                    <th>Rola</th>
                    <th>Akcie</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userPage}">
                    <td th:text="${user.username}">Meno</td>
                    <td th:text="${user.email}">E-Mail</td>
                    <td th:text="${#temporals.format(user.registrationDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <td>
                        <div th:text="${user.minecraftNick}" style="font-size: 16px; font-weight: 600;"></div>
                        <div th:text="${user.minecraftUuid}" style="font-size: 12px; color: gray;"></div>
                    </td>

                    <td>
                        <span th:each="role, iterStat : ${user.roles}"
                              th:text="${role.name + (iterStat.last ? '' : ', ')}"></span>
                    </td>


                    <td>
                        <a th:href="@{/admin/member/edit/{id}(id=${user.id})}" class="btn-admin" style="background-color: var(--accent-color-stat);">
                            <i class="fa-solid fa-pen-to-square"></i> Upraviť
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>