HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
#/src/main/resources/application.properties
qodana.yaml
/NexusConnect/run/
/core/static/images/news-uploads/

#################### IMAGES STATIC
/core/src/main/resources/static/images/.png
/core/src/main/resources/static/images/background.psd
/core/src/main/resources/static/images/background2.png
/core/src/main/resources/static/images/discord.png
/core/src/main/resources/static/images/discord_avatar.png
/core/src/main/resources/static/images/discord_avatar3.png
/core/src/main/resources/static/images/discord_bg.png
/core/src/main/resources/static/images/discord_bg2.png
/core/src/main/resources/static/images/footer.png
/core/src/main/resources/static/images/logo.png
/core/src/main/resources/static/images/minecraft.jpg
/core/src/main/resources/static/images/minecraft2.png
/core/src/main/resources/static/images/minecraft3.png
/core/src/main/resources/static/images/minecraft_bg.png
/core/src/main/resources/static/images/steve-background.png
/core/src/main/resources/static/images/steve-background2.png
/core/src/main/resources/static/images/villager.psd
/core/src/main/resources/static/images/villager2.png
/core/src/main/resources/static/images/villager3.png
