<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="forgotModal" class="modal fade" id="forgotModal" tabindex="-1" aria-labelledby="forgotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-card">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotModalLabel" style="color: #ffbf00;">ZABUDNUTÉ HESLO</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <p>Zadajte Váš email. Na túto adresu Vám pošleme inštrukcie na obnovenie hesla.</p>
                <form th:action="@{/forgot-password}" th:object="${forgotPasswordDto}" method="POST" style="color:white">
                    <div class="mb-3"><label class="form-label">Email</label><input type="email" class="form-control" name="email" required></div>

                    <button type="submit" class="btn btn-default btn-lg w-100 my-3">Odoslať inštrukcie <i class="fa fa-envelope-o"></i></button>
                </form>
                <div class="text-center mt-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">Späť na Prihlásenie</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>