<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-custom-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">PRIHLÁSENIE</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 text-white">
                <form th:action="@{/login}" th:object="${userLoginDto}" method="POST">
                    <div class="mb-3"><label class="form-label">Užívateľské meno</label><input type="text" class="form-control form-control-dark" name="username" id="username" th:field="*{username}" required></div>
                    <div class="mb-3"><label class="form-label">Heslo</label><input type="password" class="form-control form-control-dark" name="password"  id="password" th:field="*{password}" required></div>

                    <button type="submit" class="btn btn-custom btn-lg w-100 my-3">Prihlásiť sa <i class="fa fa-sign-in"></i></button>
                </form>
                <div class="text-center mt-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotModal" data-bs-dismiss="modal" class="modal-link-accent">Zabudnuté heslo</a> | <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal" class="modal-link-accent">Registrácia</a>
                </div>
                <div class="text-center mt-3">
                    <a href="/oauth2/authorization/google" class="modal-link-accent">Prihlásiť sa cez Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>