<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="registerModal" class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-custom-dark">
            <div class="modal-header border-bottom-dark">
                <h5 class="modal-title" id="registerModalLabel"><i class="fa-solid fa-user-plus"></i> REGISTRÁCIA</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 text-white">
                <form th:action="@{/register}" th:object="${userRegistrationDto}" method="POST">
                    <div class="mb-3"><label class="form-label">Užívateľské meno</label><input type="text" class="form-control form-control-dark" name="minecraftNick" id="minecraftNick" th:field="*{username}" required /></div>
                    <div class="mb-3"><label class="form-label">Email</label><input type="email" class="form-control form-control-dark" name="email" id="email" th:field="*{email}" required /></div>
                    <div class="mb-3"><label class="form-label">Heslo</label><input type="password" class="form-control form-control-dark" name="password" id="password" th:field="*{password}" required /></div>
                    <div class="mb-3"><label class="form-label">Potvrdiť Heslo</label><input type="password" class="form-control form-control-dark" name="confirm_password"  id="confirm_password" th:field="*{confirmPassword}" required /></div>

                    <div th:replace="~{fragments/recaptcha :: recaptcha_v2}"></div>
                    <button type="submit" class="btn btn-custom btn-lg w-100 my-3">Registrovať sa <i class="fa fa-check-circle"></i></button>
                </form>

                <div class="text-center mt-3">
                    Už máte účet? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal" class="modal-link-accent">Prihláste sa</a>
                </div>

                <form th:action="@{/resend_verification_code}" th:object="${userVerificationCodeDto}" method="POST">
                    <div class="mb-3"><label class="form-label">Email</label><input type="email" class="form-control form-control-dark" name="email"  th:field="*{email}" required /></div>
                    <button type="submit" class="btn btn-custom btn-lg w-100 my-3">Odoslať znovu aktivačný kód!</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>