<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav th:fragment="navbar(active)" class="navbar navbar-custom navbar-expand-lg navbar-fixed-top">
    <style>
        .navbar-nav .nav-item {
            display: flex;
            align-items: center;
        }

        .dropdown-menu-dark {
            background-color: #1e1e2c;
        }
    </style>

    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <a class="navbar-brand" th:href="@{/}" href="index.html">NEXUSCHUNK</a>
-->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 main-nav">

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${active == 'domov' ? 'active' : ''}" th:href="@{/}" href="index.html"><i class="fa fa-home"></i> Domov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${active == 'stats' ? 'active' : ''}" th:href="@{/stats}" href="stats.html"><i class="fa fa-bar-chart"></i> Štatistiky & FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${active == 'team' ? 'active' : ''}" th:href="@{/team}" href="team.html"><i class="fa fa-users"></i> Tím</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registerModal"><i class="fa fa-user-plus"></i> Registrácia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-sign-in"></i> Prihlásenie</a>
                </li>
            </ul>



            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('${@permissions.ADMIN_DASHBOARD}')" th:classappend="${active == 'admin' ? 'active' : ''}" th:href="@{/admin/dashboard}" href="/admin-dashboard"><i class="fa fa-lock"></i> Admin Panel</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!--<i class="fa fa-user-circle fa-lg"></i>-->
                       <!-- <img
                                th:src="${avatar.data}"
                                alt="Avatar používateľa"
                                style="width:35px; height:35px; border-radius: 50%; vertical-align: middle;"
                        />-->  <img
                                th:if=" ${user != null}"
                                th:src="'https://vzge.me/bust/64/' + ${user.username}"
                                alt="Avatar používateľa"
                                style="width:35px; height:35px; border-radius: 50%; vertical-align: middle;"
                        />
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">

                        <li>
                            <a class="dropdown-item" th:href="@{/profile}" href="profile.html">
                                <i class="fa fa-user"></i> Profil
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" th:href="@{/settings}" href="settings.html">
                                <i class="fa fa-cog"></i> Nastavenia
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" th:href="@{/settings}" href="send-message.html">
                                <i class="fa fa-cog"></i> Odoslať správu
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">
                                    <i class="fa fa-sign-out"></i> Odhlásiť sa
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>