.welcome {
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10rem rgba(0,0,0,1) inset;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/minecraft3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1.5px);
    z-index: 1;
}

.welcome-villager {
    background-image: url("/images/villager3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 15rem;
    position: absolute;

    top: 3rem;
    right: 1rem;
    z-index: 10;

    filter: blur(0.04rem);
}

/* ================================================================= */
/* I. ZÁKLADNÉ A UNIVERZÁLNE TRIEDY */
/* ================================================================= */

.minecraft-server {
    background-image: url("/images/minecraft_bg.png");
    height: 100%;
    border-radius: 1rem;
}

.discord {
    background-image: url("/images/discord_bg2.png");
    height: 100%;
    border-radius: 1rem;
}

.info-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 144px;
}

.info-image .btn {
    float: right;
    width: 30%;

    background-color: white;
    color: #7289DA;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    transition: transform 0.3s ease-out;
    will-change: transform;
}

.info-image .title {
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 2px 2px 7px #0C0B1A;
}

.info-image .subtitle {
    font-weight: bold;
    text-shadow: -1px -1px 7px #000, 1px -1px 7px #000, -1px 1px 7px #000, 1px 1px 7px #000;
}
.info-image .btn:hover {
    transform: scale(1.07);
}

.welcome .logo {
    height: 100%; /* Rozširujeme na celú výšku bannera */
    width: 100%;
    position: absolute;
    z-index: 10;
    transform: none !important;
}

.welcome .logo::after {
    content: "";
    background-image: url("/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    height: 20rem;
    width: 20rem;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    animation-name: pulse-logo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform;
}

@keyframes pulse-logo {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; /* Toto je dôležité! Udržuje partikly nad pozadím (1) a pod logom/villagerom (10) */
}

.news-container {
    margin-top: 3rem;
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.news {
    background-color: #100E22;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 3px solid #161329;
    width: fit-content;
    margin-bottom: 2rem;
}

.image-wrapper {
    position: relative;
    left: -1px;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.news img {
    position: absolute;
    width: 101%;
    height: 101%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-out;
    will-change: transform;
}

.news img:hover {
    transform: scale(1.1);
}

.news .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .7rem 7rem .7rem 1rem;
    color: #f5c542;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;
    text-shadow: 3px 3px 10px black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    width: fit-content;
}

.news .content {
    padding: 1rem;
    color: #606199;
    margin-bottom: 0.5rem;
}

.news .footer {
    margin: 0 1rem 1rem 1rem;
    border-top: 3px solid #161329;
}

.news .footer .info {
    margin: .9rem 0 .3rem 0;
    color: #7d84a7;
    font-weight: bold;
    font-size: 0.95rem;
    width: 100%;
}
.news .footer .hearth-widget, .continue {
    margin-right: 0.5rem;
}

.news .footer .continue {
    background-color: #7289DA;
    color: white;
    font-weight: bold;
    font-size: .85rem;
    padding: 0.7rem;
    border: none;
}

.news .footer .continue:hover {
    background-color: #4a568f;
}

.news .footer .hearth-widget {
    padding: 0.7rem;
    background-color: rgba(78, 42, 119, 0.6);
    border-radius: 0.6rem;
    font-size: 0.85rem;
    font-weight: bold;
    position: relative;
    display: inline-flex;
    color: white;
}

.news .footer .hearth{
    color: red;
    transition: transform 0.3s ease-out;
    position: relative;
    z-index: 2;
    transform-origin: right center;
    will-change: transform;
}

.news .footer .hearth:hover {
    transform: scale(1.5);
}

.news .footer .like-count {
    padding-left: 0.5rem;
    position: relative;
    z-index: 3;
}

.news .footer .author a {
    color: #7d84a7;
    text-decoration: none;
    margin-left: 1rem;
}

.news .footer .author a:hover {
    color: #b1baec;
}

.news .footer .wrapper-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.news .footer .info > div:not(.wrapper-right) { /** GAP-3 replacement **/
    margin-right: 1.5rem;
}

.sidebar {
    border-radius: .5rem!important;
    background-color: #100E22;
    padding: 1rem;
    color: #606199;
    font-family: "Quicksand", sans-serif;
    border: 3px solid #161329;

}

.sidebar .title {
    font-weight: bold;
    font-size: 1.5rem;
}

/**************************************/
/********    PLAYER STATS    **********/
/**************************************/

.sidebar.top .content .player {
    margin: 0.7rem;
}

.sidebar.top .content .player .name {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-decoration: none!important;
}

.sidebar.top .content .player img {
    background-color: #2c2c44;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
}

.sidebar.top .content a {
    text-decoration: none;
}

.sidebar.top .content a:hover img {
    transform: scale(1.2); /* Zväčší obrázok o 20% (1.2 = 120%) */
    z-index: 10;           /* Zabezpečí, že zväčšený obrázok bude nad ostatnými prvkami */
}

.sidebar.top .content .player .money {
    color: #4a902f;
}

.sidebar.space-top {
    margin-top: 1.5rem;
}
/************************************/

/************************************/
/********    SERVER STATS    ********/
/************************************/

.sidebar.server-stats .content .stat .icon {
    color: #997bff;
    font-size: 1.4rem;
    background-color: #2c2c44;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin: 0.4rem;
    min-width: 3rem;
    text-align: center;
}

.sidebar.server-stats .content .stat .name {
    color: #b6b6b6;
    flex-grow: 1;
    flex-basis: 0;
}

.sidebar.server-stats .content .stat .value {
    color: #9b91ff;
    padding-left: 1rem;
    flex-shrink: 0;
}

/************************************/
/*******    TOP LIST STATS    *******/
/************************************/

.sidebar.top-list .content .player .value {
    color: #9b91ff;
}

.sidebar.top-list .content .player .state {
    color: #9b91ff;
    font-weight: bold;
    font-size: 0.95rem;
}

.sidebar.top-list .content .player .name {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.sidebar.top-list .content .player .player-details {
    margin: 0.8rem;
}
