<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head :: head('NexusChunk Server | Error', false)}"></div>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar('domov')}"></div>

<div class="container">
    <h1>Nastala chyba!</h1>

    <h2 th:text="${'Kód chyby: ' + statusCode}">Kód chyby: 500</h2>

    <p>Správa: <span th:text="${errorMessage}">Neznáma chyba</span></p>

    <div th:if="${errorDetails != null}">
        <h3>Detaily pre vývojára:</h3>
        <pre th:text="${errorDetails}"></pre>
    </div>

    <a href="/">Prejsť na hlavnú stránku</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>